@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<body>
    <div class="home">
        <p>Welcome to this example BMI Application. Please use the Navigation bar above to continue.</p>
    </div>
</body>
</html>
