<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BMIApplication</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index">BMIApplication</a>
        <div class="navbar">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Details">Details</a></li>
                <li><a asp-area="" asp-controller="Import" asp-action="Index">Import</a></li>
                <li><a asp-area="" asp-controller="Report" asp-action="Index">Report</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>

    <div>
        <div id="body-container">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; 2019 - BMIApplication</p>
        </footer>
    </div>
</body>
</html>
