@model IEnumerable<BMIApplication.Models.BMIReportViewModel>

@{
    ViewBag.Title = "Report";
    Layout = "_Layout";
}

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BMICategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientCount)
        </td>
    </tr>
}