@model IEnumerable<BMIApplication.Models.BMIReportViewModel>

@{
    ViewBag.Title = "Report";
    Layout = "_Layout";
}

<table id="report-table">
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.BMICategory)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PatientCount)
            </td>
        </tr>
    }
</table>
