body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#body-container {
    margin: 200px;
}

#grid-container {
    display: grid;
    grid-gap: 50px 50px;
    border-spacing: 20px;
}

    #grid-container th {
        text-align: left;
        padding: 0px, 10px;
    }

    #grid-container td {
        padding: 10px, 0;
    }

#report-table {
    display: grid;
    width: 50%;
    border-spacing: 20px;
}

    #report-table th {
        text-align: left;
        padding: 0px, 10px;
    }

    #report-table td {
        padding: 10px, 0;
    }

.navbar {
    width: 100%;
    height: 50px;
    background-color: #333;
    font-variant-caps: small-caps;
    font-size: 18px;
    letter-spacing: 2.5px;
}

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .navbar li {
        float: left;
    }

        .navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .navbar li a:hover {
                background-color: #111;
            }

.navigation {
    float: left;
}

.login {
    float: right;
}

.title {
    width: 100%;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 2.5px;
}

    .title a {
        color: #333;
        text-decoration: none;
    }

.home {
    color: #333;
    text-align: center;
}
